{% extends '_bases/base_security.html.twig' %}

{% block head %}
    <title>Register</title>
{% endblock %}
{% block body %}
    <div class="ct_container">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

    </div>
    <div class="ct_container">


        <div class="ct_form">
            <h1>Register</h1>

            {{ form_start(registrationForm) }}
            <div class="form-row">

                {{ form_label(registrationForm.email, null, {'attr': {'class': 'my-row-class'} }) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'my-row-class'} }) }}

            </div>
            <div class="form-row">

                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                {{ form_widget(registrationForm.plainPassword) }}
            </div>

            <div class="form-row">
                {{ form_label(registrationForm.organisation, 'Organisme') }}
                {{ form_widget(registrationForm.organisation) }}
            </div>

            <div class="form-row">
            {{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions') }}
            {{ form_widget(registrationForm.agreeTerms) }}
            </div>

            <button type="submit" class="btn">Envoi</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
