{% extends '_bases/base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <h1>Toutes les chambres chambres</h1>
    <div class="ct_container">
        <div class="ct_card">
            <div class="ct_header">
                <ul class="ct_menu horizontal">
                    <li><a href="{{ path('room_index') }}">toutes</a></li>
                    <li><a href="{{ path('room_index', {'u':'me'}) }}">mes chambres</a></li>
                </ul>
            </div>
            <div class="ct_content">
                <div class="ct_column_header ">
                    <div>Id</div>
                    <div>Num</div>
                    <div>Zone</div>
                    <div>Action</div>
                </div>

                <div class="ct_column_content">
                    {% for room in rooms %}
                        <div class="ct_table_row">

                            <div>
                                {{ room.id }}
                            </div>
                            <div>
                                {{ room.number }}
                            </div>
                            <div>
                                {{ room.area }}
                            </div>

                            <div>
                                <i class="fas fa-pen"></i>
                                <i class="fas fa-trash"></i>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
